@font-face {
    font-family: 'NorseBold';
    src: url('fonts/Norse-Bold.otf') format('opentype');
  }
:root{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;  
}
.image{
    position: relative;
    width: 500px;
    height: 100vh;
    max-height: 100vh;
}
.bottom{
    position: relative;
    width: 100%;
    height: 100vh;
}
.top {
    position: absolute;
    top:125px;
    display: flex;
    align-items: center;
    background-color:  rgba(12, 12, 12, 0.6);
    padding-top: 2px;
    padding-right: 160px;
    padding-left: 170px;
    padding-bottom: 1px;
    border-radius: 8px;
}
.text{
    width: 80px;
    height: 90px;
    text-align: center;
}
span{
    font-family: 'NorseBold', 'cursive';
    font-size: 60px;
    color:white;
    text-align: center;
}
.pic{
    position: absolute;
    top: 470px;
    color: white;
    text-align: center;
    margin-right:15px;
}
.pic code{
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}
.container{
    display:flex;
    align-items: flex-start;
    height: 100vh;
}
.note{
    flex: 1;
    padding: 40px 0px 0px 45px;
    margin-bottom: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(241, 238, 238);
    font-size: 20px;
    background-color: rgb(236, 240, 240);
    height: 80px;
}
.note p{
    margin-bottom: 40px;
}
.form{
    position: relative;
    display: block;
    width: 90%;
    height: 240px;
}
.right{
    display:flex;
    flex-direction: column;
    flex:1;
}
.first-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 135px;
    margin-left: 23px;
    margin-bottom: 15px;
}
.first-row label{
    display:block;
    margin-bottom: 3px;
    font-size: 15px;
}

.second-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 135px;
    margin-left: 23px;
    margin-bottom: 10px;
}
.second-row label{
    display: block;
    margin: 3px;
    font-size: 15px;
}
.second-row input:invalid{
    border-color: red;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.form{
    padding: 20px;
    width:95%;
    box-shadow: 1px 5px 5px 0px rgba(5, 5, 5, 0.3) ;
}
h3{
    padding-left: 25px;
    font-size: 25px;
    font-weight:600;
    margin-top: 3px;
    color: grey;
}
.personal{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 23px;
    gap: 135px;
    margin-bottom: 15px;
}
.personal label{
    display:block;
    margin-top: 5px;
    font-size: 15px;
}
input{
    height: 23px;
    width: 230px;
    font-size: 16px;
    border-radius: 3px;
    border: 2px solid black;
}
input:focus{
    outline:none;
    border: 2px solid blue;
    box-shadow: 1px 2px 2px 2px rgba(10, 10, 10, 0.2); 
}
.enter{
    width: 210px;
    height: 40px;
    margin-top: 30px;
    margin-left: 45px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5); 
    font-size: 16px;
    color: white;
    background-color: #596D48;
}
.line{
    margin-left: 45px;
}
a{
    color:#596D48;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 2px;

}
